on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - uses: actions/checkout@v3
      - id: foo
        uses: rogeruiz22/frameworkRepo@v1
        with:
          who-to-greet: "Bobby"
      - run: echo random-number ${{ steps.foo.outputs.random-number }}
        shell: bash
